@using Smartstore.Web.Models.Common
@using Smartstore.Web.Models.Checkout

@model CheckoutConfirmModel.OrderReviewDataModel

@* @{
    async Task RenderAddress(AddressModel address)
    {
        if (address == null)
        {
            return;
        }

        <div class="mb-2">
            <div class="name">
                <span class="bidi-embed first-name">@address.FirstName</span>
                <span class="bidi-embed last-name">@address.LastName</span>
            </div>
        </div>
        <div sm-if="address.PhoneEnabled && address.PhoneNumber.HasValue()" class="phone">
            <span>@T("Order.Phone"):</span>
            <span>@address.PhoneNumber</span>
        </div>
    }
} *@

<div class="card card-body mb-3 order-review-data-box">
    <div sm-if="Model.IsShippable" class="row">
        <div class="col mb-3 shipping-address">
            <div class="row sm-gutters d-flex flex-nowrap">
                <div class="col">
                    <div class="heading">
                        <h5 class="heading-title order-review-heading">@T("Order.ShippingAddress")</h5>
                    </div>
                </div>
                <!-- Removed the Change button -->
            </div>
             @*@{ await RenderAddress(Model.ShippingAddress); }*@
             @await Component.InvokeAsync("CustomerContactInfo")
        </div>
    </div>

    <div sm-if="Model.IsShippable || Model.IsPaymentRequired" class="row">
        <div sm-if="Model.IsShippable" class="col mb-3 mb-lg-0 shipping-method">
            <div class="row sm-gutters d-flex flex-nowrap">
                <div class="col">
                    <div class="heading">
                        <h5 class="heading-title order-review-heading">@T("Order.ShippingMethod")</h5>
                    </div>
                </div>
                <div sm-if="Model.DisplayShippingMethodChangeOption" class="col col-auto">
                    <a asp-action="ShippingMethod" asp-controller="Checkout" class="btn btn-primary btn-sm change-checkout-data change-shipping-method">
                        @T("Common.Change")
                    </a>
                </div>
            </div>
            @{
                var shippingDisplayName = Model.ShippingMethod == "By Ground"
                    ? "<strong>Delivery</strong>"
                    : Model.ShippingMethod;
            }
            <div>@Html.Raw(shippingDisplayName)</div>
            @if (Model.ShippingMethod == "By Ground" && !string.IsNullOrEmpty(Model.ByGroundAddress))
            {
                <div>
                 @Model.ByGroundAddress
                </div>
            }
        </div>
        <div sm-if="Model.IsPaymentRequired" class="col payment-method">
            <div class="row sm-gutters d-flex flex-nowrap">
                <div class="col">
                    <div class="heading">
                        <h5 class="heading-title order-review-heading">@T("Order.PaymentMethod")</h5>
                    </div>
                </div>
                <div sm-if="Model.DisplayPaymentMethodChangeOption" class="col col-auto">
                    <a asp-action="PaymentMethod" asp-controller="Checkout" class="btn btn-primary btn-sm change-checkout-data change-payment-method">
                        @T("Common.Change")
                    </a>
                </div>
            </div>
            <div>@Model.PaymentMethod</div>
            <div sm-if="Model.PaymentSummary.HasValue()" class="text-muted mt-2">@Model.PaymentSummary</div>
        </div>
    </div>
</div>
