@model IEnumerable<dynamic>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Discount Applied</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Discount %</th>
            <th>Discount Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.DiscountName</td>
                <td>@(item.StartDate?.ToString("yyyy-MM-dd") ?? "-")</td>
                <td>@(item.EndDate?.ToString("yyyy-MM-dd") ?? "-")</td>
                <td>@(item.DiscountPercentage?.ToString("0.##") ?? "-")</td>
                <td>@(item.DiscountAmount?.ToString("0.##") ?? "-")</td>
            </tr>
        }
    </tbody>
</table>      
