﻿@using Smartstore.Web.Models.Catalog
@using Smartstore.Core.Checkout.Cart

@model ProductDetailsModel

@{
    var toCart = Model.AddToCart;
    var showBuyAction = Model.IsAvailable && !toCart.DisableBuyButton;

    // Check if user is logged in
    bool isGuest = !User.Identity.IsAuthenticated;

    // Set this according to your app's anonymous checkout policy (true/false)
    bool anonymousCheckoutAllowed = true;

    // Determine checkout URL based on login and anonymous checkout setting
    var checkoutUrl = (anonymousCheckoutAllowed && isGuest)
        ? Url.RouteUrl("Login", new { checkoutAsGuest = true, returnUrl = Url.RouteUrl("Checkout") })
        : Url.RouteUrl("Checkout");
}

<div class="row flex-nowrap pd-offer-actions">
    @if (showBuyAction)
    {
        if (Model.Price.CallForPrice)
        {
            <div class="quote-request">
                <a class="btn btn-secondary btn-lg btn-block action-ask-question" 
                   href="javascript:;"
                   rel="nofollow"
                   data-href="@Url.Action("AskQuestionAjax", "Product", new { id = Model.Id })"
                   data-form-selector="#pd-form">
                    <i class="fa fa-envelope"></i>
                    <span>@T("Products.CallForPrice.GoToForm")</span>
                </a>
                <div sm-if="Model.HotlineTelephoneNumber.HasValue()" class="quote-request-hotline">
                    <div>@T("Products.AskQuestion.CallHotline")<i class="fas fa-phone-flip px-1"></i><span class="fwm">@Model.HotlineTelephoneNumber</span></div>
                </div>
            </div>
        }
        else
        {
            <div sm-if="!toCart.HideQuantityControl && !toCart.CollapsibleAssociatedProduct" class="col-auto pd-offer-action-qty">
                @Html.EditorFor(model => model.AddToCart, "QtyInput", new { large = true })
            </div>
        
            <div sm-if="!toCart.CollapsibleAssociatedProduct" class="col">
                <a class="btn btn-primary btn-lg btn-block btn-add-to-cart ajax-cart-link"
                   href="#"
                   rel="nofollow"
                   data-href='@Url.Action("AddProduct", "ShoppingCart", new { productId = toCart.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })'
                   data-form-selector="#pd-form"
                   data-type="cart"
                   data-action="add"
                   data-toggle="offcanvas" 
                   data-target="#offcanvas-cart">
                    <i class="fa fa-cart-arrow-down d-none d-sm-inline-block d-md-none d-xl-inline-block"></i>
                    <span>@T(toCart.AvailableForPreOrder ? "ShoppingCart.PreOrder" : "ShoppingCart.AddToCart")</span>
                </a>

       <!-- Buy Now Button -->
<a class="btn btn-primary btn-lg btn-block mt-2"
   href="javascript:void(0);"
   onclick="
       // First clear the cart
       fetch('@Url.Action("ClearCart", "ShoppingCart")', {
           method: 'POST',
           headers: {
               'X-Requested-With': 'XMLHttpRequest'
           }
       }).then(clearResponse => {
           if (clearResponse.ok) {
               // Then add the new product
               var url = '@Url.Action("AddProduct", "ShoppingCart", new { productId = toCart.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })';
               var form = document.querySelector('#pd-form');
               var data = new FormData(form);
               
               return fetch(url, {
                   method: 'POST',
                   body: data,
                   headers: {
                       'X-Requested-With': 'XMLHttpRequest'
                   }
               });
           } else {
               throw new Error('Failed to clear cart');
           }
       }).then(addResponse => {
           if (addResponse.ok) {
               window.location.href = '@checkoutUrl';
           } else {
               alert('Failed to add to cart.');
           }
       }).catch(error => {
           console.error(error);
           alert('An error occurred: ' + error.message);
       });
   "
   rel="nofollow">
    <i class="fa fa-bolt d-none d-sm-inline-block"></i>
    <span>Buy</span>
</a>
            </div>
        }
    }
</div> 